<p>This Privacy Policy covers how Simple Calendar Tracker (SCT) collects, uses, discloses, transfers, and stores your personal information.</p>
<p>An online copy of the SCT Privacy Policy is available at <a href="https://simplecalendartracker.com/privacy/">https://simplecalendartracker.com/privacy/</a>.</p>
<h2 id="changes-to-this-privacy-policy">Changes to This Privacy Policy</h2>
<p>Revision 1 of the SCT Privacy Policy was updated on June 21st, 2021.</p>
<p>I may update SCT’s Privacy Policy from time to time. I will notify you of any changes by posting the new Privacy Policy on this page and within the changes description of the app in the Google Play Store / Apple App Store / etc.</p>
<h3 id="revision-history">Revision History</h3>
<ul>
<li>Revision 1 - June 21st, 2021
<ul>
<li>Initial Privacy Policy</li>
</ul></li>
</ul>
<h2 id="collection-and-use-of-personal-information">Collection and Use of Personal Information</h2>
<p>Personal information is data that can be used to identify or contact a single person.</p>
<p>TODO</p>
<h2 id="information-sharing-and-disclosure">Information Sharing and Disclosure</h2>
<p>TODO</p>
<h2 id="data-retention">Data Retention</h2>
<p>TODO</p>
<h2 id="your-rights">Your Rights</h2>
<p>If you reside in certain territories, including the EU, you have a number of rights in relation to your personal information. While some of these rights apply generally, certain rights apply only in certain limited cases. I describe these rights below:</p>
<ul>
<li><strong>Access</strong>. You may have the right to access and receive a copy of the personal information I hold about you by contacting me using the contact information below.</li>
<li><strong>Change, restrict, delete</strong>. You may also have rights to change, restrict my use of, or delete your personal information. Absent exceptional circumstances (like where I am required to store data for legal reasons) I will generally delete your personal information upon request.</li>
<li><strong>Object</strong>. You can object to (i) my processing of some of your information based on my legitimate interests and (ii) receiving marketing messages from me after providing your express consent to receive them. In such cases, I will delete your personal information unless I have compelling and legitimate grounds to continue using that information or if it is needed for legal reasons.</li>
<li><strong>Complain</strong>. If you reside in the EU and wish to raise a concern about my use of your information (and without prejudice to any other rights you may have), you have the right to do so with your local data protection authority.</li>
</ul>
<h2 id="how-to-contact-me">How to Contact Me</h2>
<p>For purpose of EU data protection law, I, Asim Ihsan, am the data controller of your personal information. If you have any questions or concerns, you may contact me at TODO@TODO.com</p>
<h2 id="end-of-document">End of document</h2>
<p>Thank you for reading.</p>
