<p>The Simple Calendar Tracker mobile application and the services that underly it and connect to it (“App”) are operated by Kitten Cat LLC (“Company”, “we”, “us”, “our”, “the owner”). This Privacy Policy covers how the App and our services collect, use, disclose, transfer, and store your personal information.</p>
<p>This policy is also available at https://www.simplecalendartracker.com/privacy/.</p>
<h2 id="our-contact-details">Our contact details</h2>
<p>Email address: <code>admin@kittencat.art</code></p>
<h2 id="changes-to-this-privacy-policy">Changes to This Privacy Policy</h2>
<p>Revision 1 of the Privacy Policy was updated on June 21st, 2021.</p>
<p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and within the changes description of the app in the Google Play Store / Apple App Store / etc.</p>
<h2 id="what-personal-information-we-collect">What personal information we collect</h2>
<p>Personal information is data that can be used to identify or contact a single person.</p>
<p>We currently collect and process the following information:</p>
<ul>
<li>Your email address, so that you can reset your password if you forget it or if we need to contact you about your account.</li>
<li>Some information, such as your Internet Protocol (IP) address and device characteristics, are collected automatically as you use the App and our services.</li>
<li>Whilst using the app you will generate data such as calendar names and highlighted dates.</li>
<li>Our services use session identifiers, i.e. a kind of cookie, to let you use the App to interact securely with our services.</li>
</ul>
<p>We do not knowingly collect data from or market to children under 18 years of age.</p>
<h2 id="why-we-have-your-personal-information">Why we have your personal information</h2>
<p>Most of the personal information we process is provided to us directly by you, either via the app (e.g. username, password, email address, calendar details) or incidentally via your access of our servcies (e.g. IP address, device characteristics).</p>
<p>We store and process your data under the following bases:</p>
<ul>
<li><strong>Your consent</strong>. By creating an account on the App you consent to us storing and processing this personal information. You can remove your consent at any time by contacting us at the email address at the top of this policy so that we may delete your account.</li>
<li><strong>Our legitimate business interests</strong> in order to operate the App and underlying services, and protect our users and their rights.</li>
<li>In order to comply with <strong>legal obligations</strong>.</li>
</ul>
<h2 id="how-we-store-your-personal-information">How we store your personal information</h2>
<p>Your personal information is stored securely in Amazon Web Services (AWS) infrastructure located in the United States of America (USA). We may transfer, store, and process your personal information in countries other than your own. We aim to protect your personal information through a system of organizational and technical security measures. Specifically:</p>
<ul>
<li>Your username, email address, and user-generated calendar names and highlighted days are encrypted at rest using keys specific to your account, and additionally encrypted in transit.</li>
<li>Your IP address(es) and device characteristics, in addition to personal information, may be stored in logs used to operate the App and its services. These logs are encrypted at rest and in transit and access to them is restricted to employees with appropriate business justiifcation.</li>
</ul>
<p>Your personal information is also stored by the App on your device, in order for our services to protect your data and to operate the App. Data stored on your device using the App is encrypted at rest.</p>
<h2 id="data-retention">Data retention</h2>
<p>We keep your personal information while you continue to have an account with the App and our services. If you ask us to delete your account, we will then dispose of your information within 30 days, unless required or permitted to retain it for legal purposes. Specifically:</p>
<ul>
<li>Your username, password, email address, and user-generated calendar names and highlighted days are deleted within 30 days.</li>
<li>Your IP address(es) and device characteristics may be stored for up to 18 months for legal purposes.</li>
</ul>
<h2 id="information-sharing-and-disclosure">Information sharing and disclosure</h2>
<p>We only share information with your consent or to comply with laws. We do not use third-party advertising or third-party tracking in our App or services.</p>
<p>However, in operating the App and underlying services, our employees or contractors may access your personal information. Their access is audited and restricted to the the least amount of your personal information necessary to operate the App and our services.</p>
<h2 id="how-to-contact-us">How to contact us</h2>
<p>If you have questions about this policy, how we collect or process your personal data, or anything else related to our privacy practices, we want to hear from you. You can contact us at any time using the email address at the top of this email policy. For purposes of EU data protection law, we are the data controllers of your personal information</p>
<h2 id="end-of-document">End of document</h2>
<p>Thank you for reading.</p>
